body {
    background-color: #def;
    font-size: 12px;
}
#description {
    background-color: #cdf;
    padding: 10px;
    margin: 5px;
    margin-left: 10px;
    border-radius: 10px;
}
.navigation {
	margin-top: 5px;
	margin-bottom: 5px;
}
#content {
	width: 1260px;
	display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}
#left, #right {
	width: 620px;
	display: inline-block;
	vertical-align: top;
    margin-top: 5px;
}
#left {
	margin-right: 10px;
}
.above {
    min-height: 60px;
}
#main, .side {
    display: none;
    width: 620px;
    height: 500px;
    border: 2px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    overflow-x: scroll;
    overflow-y: scroll;
}
.side-opt {
    display: none;
}
#main {
    display: block;
}
.empty {
    color: #ccc; 
    font-size: 24px;
    font-weight: bold;
    vertical-align: center;
}
#from-to-div {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
}
#from-to-div label {
    display: inline-block;
    vertical-align: top;
    width: 80px;
}
#from-span, #to-span {
    vertical-align: top;
}
#nilearn-plot-div img {
    width: 95%;
    max-height: 80%;
}
#group-select-div > select {
    padding-left: 5px;
}
