body {
	text-align: center;
}
canvas {
	border: 1px solid black;
}
.navigation {
	margin-top: 5px;
	margin-bottom: 5px;
}
#content {
	width: 1280px;
	display: inline-block;
	text-align: left;
}
#left {
	width: 620px;
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
}
#right {
	width: 600px;
	display: inline-block;
	vertical-align: top;
}
#runs-list {
	max-height: 300px;
	overflow-y: scroll;
	border: 1px solid black;
}
