<!DOCTYPE html>
<html>
<head>
	<title>ImageNomeR | Analyze {{ id }} </title>
	<link rel='stylesheet' href='/css/analyze.css'>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
	<script src='/js/bar.js'></script>
	<script src='/js/analyze.js'></script>
</head>
<body>
<div id='content'>
	<h2 id='{{ id }}' class='h-id'>{{ cache[id]['runs'][0]['desc'] }}</h2>
    <a href='/'>Back</a><br>
    <!--<a href='#' id='load-metadata'>Load Metadata</a><br>-->
	<div id='left'>
	<p>
		<!--<button id='barBoxButton'>Box Plot</button>-->
        Graph:
        <select id='graph-select'>
            <option>Bar</option>
            <option>Box</option>
        </select>
        Labels:
        <select id='label-select'>
            <option>None</option>
            {% for labelName in labelNames: %}
            <option id='label-select-{{ label }}'>{{ labelName }}</option>
            {% endfor %}
        </select>
        <br>
        <a href='#' id='export-labels-a'>Export Labels</a>
	</p>
    <div id='main' class='empty'>Loading...</div>
	</div>
	<div id='right'>
    View: 
    <select id='side-graph-select'>
        <option>None</option>
        <option>Communities</option>
        <option>Connections</option>
        <option>Nilearn ROIs Plot</option>
        <option>Nilearn Connections Plot</option>
    </select>
    <br>
    Top Feat:
    <div id='from-to-div'>
        <label for='from-range'>From</label> 
        <input type='range' id='from-range' min='0' max='{{ wLen }}' step='{{ wStep }}' value='0'>
        <span id='from-span'>0</span>
        <br>
        <label for='to-range'>To</label> 
        <input type='range' id='to-range' min='0' max='{{ wLen }}' step='{{ wStep }}' value='{{ wLen}}'>
        <span id='to-span'>{{ wLen }}</span>
    </div>
    <div id='placeholder-div' style='display: block;' class='side empty'>No secondary graph selected</div>
	<div id='communities-div' class='side'></div>
	<div id='connections-div' class='side'></div>
	<div id='nilearn-plot-div' class='side empty'>Plotting (wait a few seconds)...</div>
	</div>
	<p>{{ cache[id]['runs']|length }} runs, 
		Accuracy: {{ accuracy }}&#xB1;{{ stddev }},
		{{ cache[id]['runs'][0]['Weights']|length }} Features
	</p>
	<ol id='runs-list'>
	{% for run in cache[id]['runs']: %}
		<li>
			<input type='checkbox' id='run{{ run["runid"] }}' checked> 
			<span>Accuracy: {{ '{:.2f}'.format(run['Accuracy']) }},
				Train: {{ run['Train'].__str__() }}, 
				Test: {{ run['Test'].__str__() }}</span> 
			<span class='loading'>Loading...</span>
		</li>
	{% endfor %}	
	</ol>
</div>
</body>
</html>
